hn.Client/Service References/ApiService/APIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="v_lhproducts_policyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTCODES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAPPINGQUANTITY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DEPTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNTRATE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HEADID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEMID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTUPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LHPRODCHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LHPRODLINE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LHPRODSIGN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LHPRODTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LHPRODTYPE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LHPRODTYPE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINIMUMQUANTITY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORDERSUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POLICYITEMTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POLICYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODCHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODMODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODSTANDARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODSTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODVOLUME" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SPECIALOFFER" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="v_lhproducts_policyModel" nillable="true" type="tns:v_lhproducts_policyModel" />
  <xs:complexType name="ArrayOfv_lhproducts_policyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="v_lhproducts_policyModel" nillable="true" type="tns:v_lhproducts_policyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfv_lhproducts_policyModel" nillable="true" type="tns:ArrayOfv_lhproducts_policyModel" />
  <xs:complexType name="ArrayOfV_PREMISEModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_PREMISEModel" nillable="true" type="tns:V_PREMISEModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_PREMISEModel" nillable="true" type="tns:ArrayOfV_PREMISEModel" />
  <xs:complexType name="V_PREMISEModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TB_PREMISEModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FBRANDNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FCLASSAREA1NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FCLASSAREA2NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FORGNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V_PREMISEModel" nillable="true" type="tns:V_PREMISEModel" />
  <xs:complexType name="TB_PREMISEModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FBRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCLASSAREA1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCLASSAREA2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCOMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FISTICKET" type="xs:int" />
      <xs:element minOccurs="0" name="FNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FORGID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FREMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSTATUS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_PREMISEModel" nillable="true" type="tns:TB_PREMISEModel" />
  <xs:complexType name="ArrayOfProductViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductViewModel" nillable="true" type="tns:ProductViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductViewModel" nillable="true" type="tns:ArrayOfProductViewModel" />
  <xs:complexType name="ProductViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FBATCHNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBRANDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBRANDNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCATEGORYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCHECKERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCHECKERUSER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCHECKSTATUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="FCHECKTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FCOLORNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FGROUPMODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FGROUPNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FGROUPUNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FGROUP_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FMODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FORDERUNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FPKGFORMAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FPRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPRICE_A" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPRIORITYP_L_RICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPRIORITY_H_PRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="FPRODUCTCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FPRODUCTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FPRODUCTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="FSQUARE" type="xs:decimal" />
      <xs:element minOccurs="0" name="FSRCCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSRCMODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSRCNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSRCUNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSRC_GROUP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSRC_GROUP_RATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="FSRC_GROUP_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSTATUS" type="xs:int" />
      <xs:element minOccurs="0" name="FTYPEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNITID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNITNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNIT_TUO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUPDATETIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FVOLUME" type="xs:decimal" />
      <xs:element minOccurs="0" name="FWEIGHT" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductViewModel" nillable="true" type="tns:ProductViewModel" />
  <xs:complexType name="ArrayOfTB_EBPLModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_EBPLModel" nillable="true" type="tns:TB_EBPLModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_EBPLModel" nillable="true" type="tns:ArrayOfTB_EBPLModel" />
  <xs:complexType name="TB_EBPLModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EBPL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBPL_IS_ABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBPL_LATITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBPL_LONGITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBPL_NAME_CN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBPL_PARENT_PM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EBPL_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfNavigation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Navigation" nillable="true" type="tns:Navigation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavigation" nillable="true" type="tns:ArrayOfNavigation" />
  <xs:complexType name="Navigation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BigImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Buttons" nillable="true" type="tns:ArrayOfButton" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Linkurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sortnum" type="xs:int" />
      <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOfNavigation" />
      <xs:element minOccurs="0" name="iconCls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iconUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Navigation" nillable="true" type="tns:Navigation" />
  <xs:complexType name="ArrayOfButton">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Button" nillable="true" type="tns:Button" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfButton" nillable="true" type="tns:ArrayOfButton" />
  <xs:complexType name="Button">
    <xs:sequence>
      <xs:element minOccurs="0" name="ButtonTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ButtonText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sortnum" type="xs:int" />
      <xs:element minOccurs="0" name="iconCls" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Button" nillable="true" type="tns:Button" />
</xs:schema>