hn.Client/Service References/ApiService/APIService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hn.ArrowInterface.RequestParams" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hn.ArrowInterface.RequestParams" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62036/APIService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:62036/APIService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/hn.ArrowInterface.WebCommon" />
  <xs:complexType name="AcctOAStatusParam">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/hn.ArrowInterface.WebCommon" base="q1:AbstractRequestParams">
        <xs:sequence>
          <xs:element minOccurs="0" name="acctCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idStrings" nillable="true" type="q2:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcctOAStatusParam" nillable="true" type="tns:AcctOAStatusParam" />
</xs:schema>