hn.Client/Service References/ApiService/APIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hn.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hn.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="errCode" type="xs:int" />
      <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLH_Policy" nillable="true" type="tns:ArrayOfLH_Policy" />
  <xs:complexType name="LH_Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="CappingQUantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinimumQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialOffer" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LH_Policy" nillable="true" type="tns:LH_Policy" />
  <xs:complexType name="ICPOBILL_PolicyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ICPOBILL_PolicyDTO" nillable="true" type="tns:ICPOBILL_PolicyDTO" />
</xs:schema>