hn.Client/Service References/ApiService/APIService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hn.DataAccess.model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62036/APIService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" />
  <xs:complexType name="PageResultOfv_lhproducts_policyModelEd219jNo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="v_lhproducts_policyModel" Namespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfv_lhproducts_policyModel" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageResultOfv_lhproducts_policyModelEd219jNo" nillable="true" type="tns:PageResultOfv_lhproducts_policyModelEd219jNo" />
</xs:schema>